.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header header" "aside main";
  grid-template-columns: 100px auto;
  grid-template-rows: 200px auto;
}
header {
  grid-area: header;
}
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}
main {
  grid-area: main;
}
