.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header aside" "main aside";
  grid-template-columns: auto 100px;
  grid-template-rows: 100px auto;
}
header {
  grid-area: header;
}
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
}

.world_img {
  width: 1000px;
}
.countries {
  display: grid;
  grid-template-columns: 100px auto;
}
.country_img {
  width: 100px;
}
