* {
  margin: 0;
  padding: 0;
}

* *::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

/* - set default font size to 62.5% = 10 px/16px is default size*/
/* 980 px/16px=> 61.25em */
/* 1200px /16px =>75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px/16px = 28.75 */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* 460px/16px = 28.75 */
@media (max-width: 23em) {
  html {
    font-size: 50%;
  }
}
